<div class="row ">
    <div class="col-md-6">
        <div class="alert alert-info">
            <span>RPTx </span>
            <span class="pull-right">{{dfv && dfv.RPTX ? dfv.RPTX : ""}}</span>
        </div>

    </div>
    <div class="col-md-6">
        <div class="alert alert-info">
            <span>à AC </span>
            <span class="pull-right">{{dfv && dfv.ResponsableDFV ? dfv.ResponsableDFV.Nom : "" }} </span>
        </div>

    </div>
</div>

<accordion>
    <accordion-group heading="Fermeture de voie" [isOpen]="true">
        <div class="row">
            <div class="col-md-4">
                <div class=" text-center text-bold"> DFV N°</div>
                <div class=" text-center">{{dfv.Numero}}</div>
            </div>
            <div class="col-md-4">
                <div class="text-center text-bold"> Zep N°</div>
                <div class="text-center">{{dfv.Zep.Numero}}</div>

            </div>
            <div class="col-md-4">
                <div class="text-center text-bold"> Type</div>
                <div class="text-center">{{dfv.Zep.ZepType?.Nom}}</div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <input [disabled]="disableRadioZepLibre || isRestituee" (change)="setradioRestitTTx(true)" [checked]="zepLibre === true" name="radioRestitTTx" id="radioRestitTTxLibre" type="radio">
                <label for="radioRestitTTxLibre">ZEP libre de tout TTx</label>
            </div>
            <div class="col-md-5">
                <input [disabled]="disableRadioZepLibre || isRestituee" (change)="setradioRestitTTx(false)" [checked]="zepLibre === false" name="radioRestitTTx" id="radioRestitTTxOccupe" type="radio">
                <label for="radioRestitTTxOccupe">ZEP occupée par TTx</label>
            </div>
        </div>
        <hr/>

        <div class="col-md-12">
            <accordion>
                <accordion-group heading="Réserves sur aiguilles" [isOpen]="true">
                    <div class="col-md-12">
                        <form [formGroup]="formResrveAiguille" (ngSubmit)="submitReserveAiguille()">


                            <formly-form [model]="reserveAiquille" [fields]="fieldsResrveAiguille" [form]="formResrveAiguille" [options]="optionsFormResrveAiguille">
                            </formly-form>
                        </form>
                    </div>
                </accordion-group>

                <accordion-group [isDisabled]="zepLibre  || !(occupationResitutionList.length > 0)" heading="Nature et position des TTx immobilisés" [isOpen]="true">
                    <table class="table table-rounded text-center">
                        <tr>
                            <th class="text-center">Numéro marche</th>
                            <th class="text-center">Nature</th>
                            <th class="text-center">Position</th>
                        </tr>
                        <tr *ngFor="let occu of occupationResitutionList">
                            <td>{{occu.TTXNumero}}</td>
                            <td>{{occu.TTXNature}}</td>
                            <td>{{occu.TTXPosition}}</td>
                        </tr>
                    </table>
                </accordion-group>

                <accordion-group [isDisabled]="zepLibre || !(degagementList.length > 0)" heading="N° marche / nature et positions des TTx prêts au départ" [isOpen]="true">

                    <table class="table table-rounded text-center">
                        <tr>
                            <th class="text-center">Numéro TTX</th>
                            <th class="text-center">Nature</th>
                            <th class="text-center">PR</th>
                            <th class="text-center">Voie</th>
                        </tr>
                        <tr *ngFor="let manoeuvre of degagementList">
                            <td>{{manoeuvre.TTXNumero}}</td>
                            <td>{{manoeuvre.TTXNature}}</td>
                            <td>{{getPointRemarquableById(manoeuvre.PointRemarquable_ZepId)?.PosteConcerne?.Nom}} / {{getPointRemarquableById(manoeuvre.PointRemarquable_ZepId)?.Valeur}}</td>
                        </tr>
                    </table>
                </accordion-group>
            </accordion>
        </div>
        <div class="col-md-12">
            <form [formGroup]="formRestitution" (ngSubmit)="submitRestituer()">
                <formly-form [model]="dfvCopy" [fields]="fieldsRestition" [form]="formRestitution" [options]="optionsFormRestitution">

                </formly-form>
                <button *ngIf="!isRestituee" validation-submit="formRestitution" type="submit" class="btn btn-success pull-right"><i class="fa fa-reply" ></i>&nbsp; Confirmer la restitution</button>
            </form>
        </div>
    </accordion-group>
</accordion>
