<accordion-group heading="Engagement de TTX" [isOpen]="true">
  <button class='btn btn-success btn-xs mb-sm' (click)="showCreateEngagementModal()">
    <i class='fa fa-plus'></i>&nbsp;Ajouter
  </button>

  <table class="table table-rounded text-center">
    <tr>
      <th class="text-center">Action</th>
      <th class="text-center">Numéro TTX</th>
      <th class="text-center">Nature</th>
      <th class="text-center">PR</th>
    </tr>
    <tr *ngFor="let manoeuvre of getManoeuvreEngagement()">
      <td>
        <div>
          <button [tooltip]="'Modifier'" class='btn btn-primary btn-xs' (click)="showUpdateManoeuvreModal(manoeuvre)">
            <i class='fa fa-edit'></i>
          </button>
          <button [tooltip]="'Supprimer'" class='btn btn-danger btn-xs' (click)="removeManoeuvre(manoeuvre)">
            <i class='fa fa-close'></i>
          </button>
        </div>
      </td>
      <td>{{manoeuvre.TTXNumero}}</td>
      <td>{{manoeuvre.TTXNature}}</td>
      <td>{{getPointRemarquableById(manoeuvre.PointRemarquable_ZepId)?.PosteConcerne?.Nom}} / {{getPointRemarquableById(manoeuvre.PointRemarquable_ZepId)?.Valeur}}</td>
    </tr>
  </table>
</accordion-group>
<accordion-group heading="Dégagement de TTX" [isOpen]="true">
  <button class='btn btn-success btn-xs mb-sm' (click)="showCreateDegagementModal()">
    <i class='fa fa-plus'></i>&nbsp;Ajouter
  </button>
  <table class="table table-rounded text-center">
    <tr>
      <th class="text-center">Action</th>
      <th class="text-center">Numéro TTX</th>
      <th class="text-center">Nature</th>
      <th class="text-center">PR</th>
      <th class="text-center">Voie</th>
      <th class="text-center"> </th>
    </tr>
    <tr *ngFor="let manoeuvre of getManoeuvreDegagement()">
      <td>
        <div>
          <button [tooltip]="'Modifier'" class='btn btn-primary btn-xs' (click)="showUpdateManoeuvreModal(manoeuvre)">
            <i class='fa fa-edit'></i>
          </button>
          <button [tooltip]="'Supprimer'" class='btn btn-danger btn-xs' (click)="removeManoeuvre(manoeuvre)">
            <i class='fa fa-close'></i>
          </button>
        </div>
      </td>
      <td>{{manoeuvre.TTXNumero}}</td>
      <td>{{manoeuvre.TTXNature}}</td>
      <td>{{getPointRemarquableById(manoeuvre.PointRemarquable_ZepId)?.PosteConcerne?.Nom}} / {{getPointRemarquableById(manoeuvre.PointRemarquable_ZepId)?.Valeur}}</td>
      <td>{{manoeuvre.TTXVoie}}</td>
    </tr>
  </table>
</accordion-group>
