<div class="modal-header header-style">
    <h4 class="modal-title">ZEP / Groupement / CCTT : <span class="modal-title-bold">{{zep.Numero}} </span> <label class="badge badge-dark-blue"> En Travail</label>
        <button type="button" class="close close-icon" aria-label="Close" (click)="close(null)"><span aria-hidden="true" >&times;</span>
        </button></h4>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-md-3">
            <div>
                <div class="list-group-item" style="cursor: pointer;" (click)="settingActive=1" [ngClass]="{'active': (settingActive == 1)}"><i class="fa fa-info-circle"></i>&nbsp;&nbsp;INFOS</div>
                <div class="list-group-item" style="cursor: pointer;" (click)="settingActive=2" [ngClass]="{'active': (settingActive == 2)}"><i class="fa fa-train"></i>&nbsp;&nbsp;TRAIN-TRAVAUX</div>
                <div class="list-group-item" style="cursor: pointer;" (click)="settingActive=3" [ngClass]="{'active': (settingActive == 3)}"><i class="fa fa-gears"></i>&nbsp;&nbsp;PROCEDES ET OPTIONS APPLICABLES</div>
                <div class="list-group-item" style="cursor: pointer;" (click)="settingActive=4" [ngClass]="{'active': (settingActive == 4)}"><i class="fa fa-bars"></i>&nbsp;&nbsp;PROCEDES DFV</div>
            </div>
        </div>
        <div class="col-md-9" style="border-left: 1px solid #8080804f;">
            <!-- <fiche-zep-infos [zep]="zep" [listParticularite]="listParticularite"></fiche-zep-infos>
        <fiche-zep-train-travaux [zep]="zep" [listParticularite]="listParticularite" [listPointRemarquable]="listPointRemarquable"></fiche-zep-train-travaux>
        <fiche-zep-options [zep]="zep"></fiche-zep-options>
        <fiche-zep-procede-dfv [zep]="zep" [listConditionsParticuliereDeVerif]="listConditionsParticuliereDeVerif" [listParticularite]="listParticularite" [listMesureProtection]="listMesureProtection" ></fiche-zep-procede-dfv> -->

            <div *ngIf="settingActive == 1" class="col-md-12">
                <fiche-zep-infos [zep]="zep" [listParticularite]="listParticularite"></fiche-zep-infos>
            </div>
            <div *ngIf="settingActive == 2" class="col-md-12">
                <fiche-zep-train-travaux [zep]="zep" [listParticularite]="listParticularite" [listPointRemarquable]="listPointRemarquable"></fiche-zep-train-travaux>
            </div>
            <div *ngIf="settingActive == 3" class="col-md-12">
                <fiche-zep-options [zep]="zep"></fiche-zep-options>
            </div>
            <div *ngIf="settingActive == 4" class="col-md-12">
                <fiche-zep-procede-dfv [zep]="zep" [listConditionsParticuliereDeVerif]="listConditionsParticuliereDeVerif" [listParticularite]="listParticularite" [listMesureProtection]="listMesureProtection"></fiche-zep-procede-dfv>
            </div>

        </div>
    </div>
    <!-- <mat-tab-group>


        <mat-tab label="Procédés DFV">
            <h2>Mesures à prendre par l'Exploitation :</h2>
            <div class="row">
                <div class="col-md-12 offset-12">
                    <div class="form-group input-group-sm">
                        <label class="control-label">Aiguilles à position obligée :</label> 740 A Gauche
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 offset-12">
                    <div class="form-group input-group-sm">
                        <label class="control-label">Aiguilles à disposer dans la position prévue avant accord :</label> 740 A
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 offset-12">
                    <label class="control-label">Mesures de protection :</label>
                    <h4>Poste Mantes PRCI</h4>
                    <table>
                        <thead>
                            <th>Itinéraires à détruire (PRCI)</th>
                            <th>Itinéraires à détruire et à munir de DA</th>
                            <th>Organe de commande à placer dans la position indiquée et munis d'un DA</th>
                            <th>Dialogue de protection</th>
                            <th>Autorisation à détruire</th>
                            <th>Aiguille immobilisée dans la position indiquée</th>
                            <th>Jalon d'arrêt à placer sur le terrain</th>
                        </thead>
                        <tbody>
                            <td></td>
                            <td>403 - 503</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tbody>
                    </table>
                    <h4>Poste 1</h4>
                    <table>
                        <thead>
                            <th>Itinéraires à détruire (PRCI)</th>
                            <th>Itinéraires à détruire et à munir de DA</th>
                            <th>Organe de commande à placer dans la position indiquée et munis d'un DA</th>
                            <th>Dialogue de protection</th>
                            <th>Autorisation à détruire</th>
                            <th>Aiguille immobilisée dans la position indiquée</th>
                            <th>Jalon d'arrêt à placer sur le terrain</th>
                        </thead>
                        <tbody>
                            <td></td>
                            <td>403 - 503</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 offset-12">
                    <label class="control-label">Conditions particulères de vérification de libération de la ZEP (Postes concernés / Particularités ) :</label>
                    <table>
                        <thead>
                            <th>Poste Mantes PRCI</th>
                            <th>Poste 1</th>
                        </thead>
                        <tbody>
                            <td>application fiche 201,1,2 de la CG S6A n°12 tome 4</td>
                            <td>fiche 3,205</td>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 offset-12">
                    <div class="form-group input-group-sm">
                        <label class="control-label">Dispositions particulières :</label> particulariteList
                    </div>
                </div>
            </div>
            <h2>Mesures à prendre par l'Equipement :</h2>
            <div class="row">
                <div class="col-md-12 offset-12">
                    <div class="form-group input-group-sm">
                        <label class="control-label">Outil de bouclage :</label> Description
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 offset-12">
                    <div class="form-group input-group-sm">
                        <label class="control-label">Dispositions particulières :</label> Description
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 offset-12">
                    <div class="form-group input-group-sm">
                        <label class="control-label">Autres mesures éventuelles :</label> Description
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group> -->
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-warning" (click)="close(null)"><i class="fa fa-close"></i>&nbsp;Fermer</button>
</div>