<form [formGroup]="form" (ngSubmit)="submit(dfv)">
  <div class="row">
    <div class="col-md-12">
      <formly-form [model]="dfv" [fields]="fields" [form]="form" [options]="options">
      </formly-form>
    </div>
  </div>
  <div class="row m-sm">
    <div class="col-md-6 col-md-offset-3">
      <button type="submit" class="btn btn-lg btn-success btn-block" [disabled]="!form.valid"><i class="fa fa-save"></i>&nbsp;Modifier les informations</button>
    </div>
  </div>
</form>
