<div class="content-heading">
  BIBLIOTHEQUE DE ZEPS
  <span class="pull-right">Nombre de Zeps : {{ this.zepsList ? this.zepsList.length : ""}}</span>
</div>
<p></p>

<div  *ngIf="isAutorised()">
  <ngx-loading [show]="loading" ></ngx-loading>
  <button (click)="goSynoCreation()" class="btn btn-primary"><i class="fa fa-pencil" > </i>&nbsp;Conception du visuel des ZEPs</button>
  <ng4-files-click (filesSelect)="filesSelect($event)" tooltip="Importer les Zeps au format Excel">
      <span  class="btn btn-primary"><i class="fa fa-upload"> </i> Importer Zeps </span>
  </ng4-files-click><br><br>
</div>

<ngx-loading [show]="loading" ></ngx-loading>

  <div *ngIf="zepsList != null">
  <div class="row">
     <!-- 1ere colonne Zep Applicables :  A remplacer -->
    <div class="col-md-4">
      <tab-zep [zepsList]="zepsListApplicable" [isApplicable]= "true"></tab-zep>
    </div>
    <!-- 2 eme colonne Zep Validées :  A remplacer -->
    <div class="col-md-4" *ngIf="isAutorised()">
      <tab-zep [zepsList]="zepsListValide" [isValide]= "true"></tab-zep>
    </div>
    <!--3eme colonne Zep En Travail ! : A remplacer-->
    <div class="col-md-4" *ngIf="isAutorised()">
      <tab-zep [zepsList]="zepsListEnTravail" [isEnTravail]= "true"></tab-zep>
    </div>

  </div>
</div>
