/*!
 *
 * Angle - Bootstrap Admin App + AngularJS
 *
 * Version: 3.8.2
 * Author: @themicon_co
 * Website: http://themicon.co
 * License: https://wrapbootstrap.com/help/licenses
 *
 */

// Override bootstrap variables
@import "app/variables";

// Bootstrap
@import "bootstrap/bootstrap/_mixins";

// Global definition of media queries
@import "app/media-queries";
// Utilities
@import "app/utils-definitions";

// Bootstrap reset
@import "app/bootstrap-reset";

// Typography
@import "app/typo";

// Layout
@import "app/layout";
@import "app/layout-extra";
@import "app/layout-animation";
@import "app/top-navbar";
@import "app/sidebar";
@import "app/offsidebar";

// Components
@import "app/breadcrumbs";
@import "app/loading-bar";
@import "app/animate";
@import "app/button-extra";
@import "app/placeholder";
@import "app/panels";
@import "app/progress-extra";
// @import "app/radial-bar";
@import "app/user-block";
@import "app/circles";
// @import "app/timeline";
@import "app/dropdown-extra";
@import "app/row-extra";
@import "app/half-float";
// @import "app/masonry-grid";
@import "app/widget";
// @import "app/typeahead";
@import "app/table-grid";
@import "app/todo";
// @import "app/file-upload";

// @import "app/chart-flot";
// @import "app/chart-easypie";
@import "app/form-elements";

// @import "app/summernote";
// @import "app/code-editor";

// Tables
@import "app/table-extras";
// @import "app/table-angulargrid";
// Plugins
@import "app/slim-scroll";
// @import "app/calendar";
// @import "app/spinner";
// @import "app/gmap";
// @import "app/vector-map";

// Mailbox
// @import "app/mailbox";

// Plans
// @import "app/plans";

// Utilities
@import "app/utils";

// Print CSS
@import "app/print";

// Settings
@import "app/settings";

//datepicker bootstrap
@import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';
@import '../node_modules/angular2-toaster/toaster.css';


bs-datepicker-container { z-index: 3000; }
.ng-table>tbody>tr:first-child>td>input { width: 100% !important; }

/*Couleurs*/
.text-green{
    color :#23ae89;
}
.text-red{
    color :#d1241e;
}

/*Labels*/
.header-style{
    background-color: #5d9cec;// #42c1e8
    color: #ffffff;
}
.modal-title-bold{
    font-weight:300;
}
.label-title-form{
    font-weight: 600;
    text-transform: uppercase;
    color: #5d9cec;
    font-size: medium;
}
.label-form{
    font-weight: bold;
    text-transform: uppercase;
    font-size: small;
}
.label-small-form{
    font-size: small;
    //color: #5d9cec;
    //font-weight: bold;
}
.label-bloc{
    margin-left:2%;
    margin-top: 2%;
    margin-bottom: 1%;
}
.item-label{
    white-space: inherit;
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 13px;
    color: #005dd6;
    line-height: 1;
    font-weight: inherit;
}
.tab-title-xlarge{
    font-weight: 600;
    text-transform: uppercase;
    color: #3fc0e8;
    font-size: x-large;
}
.tab-title-large{
    font-weight: 600;
    text-transform: uppercase;
    color: #3fc0e8;
    font-size: large;
}
.tab-small-title{
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-uppercase{
    text-transform: uppercase;
}

/*Style*/
.line-separator{
    height: 1px;
    background: #d6d6d6;
    border-bottom:1px solid #d6d6d6;
}
.close-icon{
    color: #ffffff;
    opacity: 1;
}
.font-size-7{
    font-size: 7px;
}
.text-wrap{
    white-space: inherit;
}
/*Fiche-DFV*/
.fiche-dfv{
    div .panel-heading.card-header{
    background-color: #0991bc;
    }

   div .panel-title{
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: small;
    } 
}