<div class="content-heading">
  LISTE DES DFV Prévisionnelle
</div>
<ngx-loading [show]="loading" ></ngx-loading>

<div *ngIf="listDfvPrev != null">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
      <div class="panel-heading">
        <span>DFV Prévue</span>

          <button class="btn btn-success pull-right btn-xs" (click)="showAddDFVPrevModal()">Ajouter une DFV prévisionnelle</button>
      </div>
        <div class="col-md-4 mb-lg">
            <input [(ngModel)]="filter" class="form-control" placeholder="Rechercher ..." />
        </div>

      <table class="table table-striped table-bordered table-hover">

        <tbody>
          <tr *ngFor="let dfv of listDfvPrev |filterDfv: filter |   orderByStatut">
            <td class="text-center">
              <a class="btn btn-info btn-xs"  (click)="showInfoDfv(dfv)">
                <em class="fa fa-file-text-o"></em>
              </a>
            </td>
            <td>
              <div class="media">
                <div class="row">
                  <div class="col-md-12">
                    <h4 class="media-heading">{{dfv.Zep?.Numero}}</h4>
                    <p>DFV n° {{dfv.Numero}}</p>
                    <div class="row">
                      <div class="col-md-4">Opération : {{dfv.OperationNumero}}</div>
                      <div class="col-md-4">CCTT : {{dfv.ContratTravauxNumero}}</div>
                      <div class="col-md-4">TTx : {{dfv.ManoeuvreList.length}}</div>
                    </div>
                  </div>
                </div>

              </div>
            </td>
            <td>
              <div class="media">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div style="font-weight: bold;text-decoration: underline;">Heures théoriques</div>
                        <div>{{dfv.HeureTheoriqueDebut}} - {{dfv.HeureTheoriqueFin}}</div>
                      </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-12 text-center">
                      <span>
                          <label  [ngClass]="getIconByStatut(dfv.StatusZep?.Statut)" class="badge badge-success">{{dfv.StatusZep?.Statut == "En création" && dfv.IsPrevisonelle ? "Prévisionelle" : dfv.StatusZep?.Statut }}</label>
                        </span></div>
                </div>
              </div>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
    </div>

  </div>
</div>

