<!-- <div class="label label-info" *ngIf="dfv">
  Notification DFV {{dfv.Numero}}
  Zep : {{dfv.Zep.Numero}} de Type : {{dfv.Zep.ZepType.Nom}}
  Avec Vérification de libération : {{dfv.Zep.AvecVerificationDeLiberation}}
  RPTX : {{dfv.Zep.RPTX}}
</div> -->

<accordion>
    <accordion-group heading="Information DFV et Application" [isOpen]="true">
        <div class="col-md-12">
            <div class="list-group col-md-6" >
                <span class="label-title-form">Information générale</span>
                <div a class="list-group-item">
                    <span class="badge badge-success float-right">{{dfv.Numero}}</span>
                    <em class="fa fa-fw fa-clock-o text-muted"></em>&nbsp;DFV
                </div>
                <div class="list-group-item">
                    <span class="badge badge-success float-right">{{dfv.Zep.Numero}}</span>
                    <em class="fa fa-fw fa-folder-open-o text-muted"></em>&nbsp;Zep
                </div>
                <div a class="list-group-item">
                    <span *ngIf="dfv.Zep.DFVAvecVerificationLiberation" class="badge badge-success float-right"><i class="fa fa-check"></i></span>
                    <span *ngIf="!dfv.Zep.DFVAvecVerificationLiberation" class="badge badge-danger float-right"><i class="fa fa-times"></i></span>
                    <em class="fa fa-fw fa-check text-muted"></em>&nbsp;Avec Vérification de libération
                </div>
                <div class="list-group-item">
                    <span class="badge badge-success float-right">{{dfv.RPTX}}</span>
                    <em class="fa fa-fw fa-user text-muted"></em>&nbsp;RPTX
                </div>
            </div>

            <div class="list-group col-md-6">
                <span class="label-title-form">Application</span>
                <div a class="list-group-item">
                    <span class="badge badge-success float-right">{{dfv.OperationNumero}}</span>
                    <em class="fa fa-fw fa-tasks text-muted"></em>&nbsp;Numéro opération
                </div>
                <div class="list-group-item">
                    <span class="badge badge-success float-right">{{dfv.AHTNumero}}</span>
                    <em class="fa fa-fw fa-fw fa-folder-open-o text-muted"></em>&nbsp;AHT
                </div>
                <div a class="list-group-item">
                    <span class="badge badge-success float-right">{{dfv.AvisNumero}}</span>
                    <em class="fa fa-fw fa-info text-muted"></em>&nbsp;Avis
                </div>
                <div class="list-group-item">
                    <span class="badge badge-success float-right">{{dfv.ContratTravauxNumero}}</span>
                    <em class="fa fa-fw fa-folder-open-o text-muted"></em>&nbsp;Contrat travaux
                </div>
                <div class="list-group-item">
                    <span class="badge badge-success float-right">{{dfv.CCTTNumero}}</span>
                    <em class="fa fa-fw fa-train text-muted"></em>&nbsp;CCTT numéro
                </div>
            </div>
        </div>
    </accordion-group>

    <accordion-group heading="Notification d'Engagements / Dégagements de TTX" [isOpen]="true">
        <app-dfv-bloc-ttx
            [isPosteCreateur]="isPosteCreateur"
            [dfv]="dfv"
            (dfvChange)="onDfvChange($event)"
            [listTypeOccupation]="listTypeOccupation"
            [listTypeManoeuvre]="listTypeManoeuvre"
            [listPointRemarquable]="listPointRemarquable"
            [listDepecheType]="listDepecheType"
            [isNotification] = "true">
        </app-dfv-bloc-ttx>
    </accordion-group>

</accordion>
