<div class="panel panel-default">
  <div class="panel-heading">
    <span *ngIf="!isRestitue; else restitue" class="tab-title-large">DFV en cours pour la nuit du 17/08/18 au 18/08/18</span>
    <ng-template #restitue>
      <span class="tab-title-large">DFV restituées pour la nuit du 17/08/18 au 18/08/18</span>
    </ng-template>
      <button class="btn btn-success pull-right btn-xs" (click)="showAddDFVModal()" *ngIf="canAddDfv() && !isRestitue"><i class="fa fa-plus"></i>&nbsp;Ajouter une DFV</button>
  </div>
    <div class="col-md-4 mb-lg">
        <input [(ngModel)]="filter" class="form-control" placeholder="Rechercher ..." />
    </div>

  <table class="table table-striped table-bordered table-hover">

    <tbody>
      <tr *ngFor="let dfv of dfvList |  filterDfv: filter | orderByStatut">
        <td class="text-center">
          <a class="btn btn-info btn-xs" (click)="showDFV(dfv)">
            <em class="fa fa-file-text-o"></em>
          </a>
        </td>
        <td>
          <div class="media">
            <div class="row">
              <div class="col-md-12">
                <h4 class="media-heading">{{dfv.Zep?.Numero}}</h4>
                <p>DFV n° {{dfv.Numero}}</p>
                <div class="row">
                  <div class="col-md-4">Opé N° : {{dfv.OperationNumero}}</div>
                  <div class="col-md-4">CCTT : {{dfv.ContratTravauxNumero}}</div>
                  <div class="col-md-4">TTx : {{dfv.ManoeuvreList.length}}</div>
                </div>
              </div>
            </div>

          </div>
        </td>
        <td>
          <div class="media">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div style="font-weight: bold;text-decoration: underline;">Heures théoriques</div>
                    <div>{{dfv.HeureTheoriqueDebut}} - {{dfv.HeureTheoriqueFin}}</div>
                  </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-12 text-center">
                <span>
                  <label  [ngClass]="getIconByStatut(dfv.StatusZep?.Statut)" class="badge badge-success">{{dfv.StatusZep?.Statut == "En création" && dfv.IsPrevisonelle ? "Prévisionelle" : dfv.StatusZep?.Statut }}</label>
                </span></div>
            </div>
          </div>
        </td>
      </tr>

    </tbody>
  </table>
</div>
