<div class="modal-header header-style">
    <h4 class="modal-title">Effectuer un engagement
        <button type="button" class="close close-icon" aria-label="Close" (click)="closePopup(null)">
          <span aria-hidden="true">&times;</span>
        </button>
    </h4>

</div>
<form [formGroup]="form" (ngSubmit)="submit(effectueManoeuvreModel)" *ngIf="effectueManoeuvreModel!=null">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <formly-form [model]="effectueManoeuvreModel" [fields]="fields" [form]="form" [options]="options">
                </formly-form>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-info" [disabled]="!form.valid"><i class="fa fa-save"></i>&nbsp;Effectuer</button>
        <button type="button" class="btn btn-warning" (click)="closePopup()"><i class="fa fa-close"></i>&nbsp;Fermer</button>
    </div>
</form>