<div class="modal-header header-style">
  <h4>{{depecheType? depecheType.Nom : "Echange de dépêche"}}</h4>
</div>
<div class="modal-body">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-info">
          <span class="text-center">Avis de restitution de la DFV : "AC {{dfv.ResponsableDFV?.Nom}} à {{posteNotif}} DFV n° {{dfv.Numero}} sur ZEP n° {{dfv.Zep?.Numero}} de {{dfv.Zep?.ZepType?.Nom}} , {{zepLibre
            ? 'Libre de tout Ttx' : 'occupée par TTx'}} "</span>
          <div *ngIf="dfv.Aiguille_DFVList?.length > 0">
            <h4>Avec réserve sur aiguille :</h4>
            <p *ngFor="let aiguille of dfv.Aiguille_DFVList">
              {{aiguille.Aiguille.Nom}} , {{aiguille.Commentaire}}
            </p>
          </div>
          <div *ngIf="occupationResitutionList.length > 0">
            <h4> Nature et position des TTx immobilisés :</h4>
            <p *ngFor="let occu of occupationResitutionList">
             - <span class="text-bold">{{occu.TTXNumero}}</span> de nature {{occu.TTXNature}} au point {{occu.TTXPosition}}
            </p>
          </div>
          <div *ngIf="degagementList.length > 0">
            <h4> N° marche / nature et positions des TTx prêts au départ :</h4>
            <p *ngFor="let degagement of degagementList">
             - <span class="text-bold">{{degagement.TTXNumero}}</span> de nature {{degagement.TTXNature}} au point {{getPointRemarquableById(degagement.PointRemarquable_ZepId)?.PosteConcerne?.Nom}} / {{getPointRemarquableById(degagement.PointRemarquable_ZepId)?.Valeur}}
            </p>
          </div>
          <!-- <div *ngIf="listManoeuvrePosteNotif.length > 0">
            <h4>Demande levée des mesure pour les engagements / dégagement :</h4>
            <p *ngFor="let manoeuvre of listManoeuvrePosteNotif">
             - <span class="text-bold">{{manoeuvre.TTXNumero}} </span>de nature {{manoeuvre.TTXNature}} au point {{getPointRemarquableById(manoeuvre.PointRemarquable_ZepId)?.PosteConcerne?.Nom}} / {{getPointRemarquableById(manoeuvre.PointRemarquable_ZepId)?.Valeur}}
            </p>
          </div> -->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <formly-form [model]="depeche" [fields]="fields" [form]="form" [options]="options">
        </formly-form>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button type="button" [disabled]="!form.valid" class="btn btn-success" (click)="submit()"><i class="fa fa-save"></i>&nbsp;Enregistrer</button>
  <button type="button" class="btn btn-warning" (click)="closePopup()"><i class="fa fa-close"></i>&nbsp;Fermer</button>
</div>
