<div class="modal-header header-style">
  <h4 class="modal-title">Ajouter une autres dépêche
        <button type="button" class="close close-icon" (click)="closePopup()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  </h4>

</div>
<form [formGroup]="form" (ngSubmit)="submit(choixAutreDepecheVm)" *ngIf="choixAutreDepecheVm!=null">
  <div class="modal-body">
      <div class="row">
          <div class="col-md-12">
              <formly-form [model]="choixAutreDepecheVm" [fields]="fields" [form]="form" [options]="options">
              </formly-form>
          </div>
      </div>
  </div>

  <div class="modal-footer">
      <button type="submit" class="btn btn-info" [disabled]="!form.valid"><i class="fa fa-save"></i>&nbsp;Effectuer</button>
      <button type="button" class="btn btn-warning" (click)="closePopup()"><i class="fa fa-close"></i>&nbsp;Fermer</button>
  </div>
</form>
