
<accordion>
    <app-list-occupation-prev [listTypeOccupation]="listTypeOccupation"[listPointRemarquable]="listPointRemarquable" [dfv]="dfv">

    </app-list-occupation-prev>
    <app-list-manoeuvre-prev [listTypeManoeuvre]="listTypeManoeuvre"[listPointRemarquable]="listPointRemarquable" [dfv]="dfv">

    </app-list-manoeuvre-prev>
</accordion>
