<form [formGroup]="form" (ngSubmit)="submit()" style="height:500px; overflow: auto;">
    <div class="col-md-12">
        <formly-form [model]="dfv" [fields]="fields" [form]="form" [options]="options">
        </formly-form>
    </div>
    <div class="col-md-12">
        <button *ngIf="!isBtnDemandeDisabled" class="btn btn-lg btn-success btn-block" type="submit"><i class="fa fa-check-square-o"></i>&nbsp;Collationner la demande</button>
    </div>
</form>
