<div class="modal-header header-style">
    <h4 class="modal-title">Ajouter une occupation <button type="button" class="close close-icon" aria-label="Close" (click)="closePopup(occupation)">
      <span aria-hidden="true">&times;</span>
    </button></h4>

</div>
<form [formGroup]="form" (ngSubmit)="submit(occupation)" *ngIf="occupation!=null">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <formly-form [model]="occupation" [fields]="fields" [form]="form" [options]="options">
                </formly-form>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-success" [disabled]="!form.valid"><i class="fa fa-plus"></i>&nbsp;Ajouter</button>
        <button type="button" class="btn btn-warning" (click)="closePopup()"><i class="fa fa-close"></i>&nbsp;Fermer</button>
    </div>
</form>