<div class="row">
  <div class="col-md-12">
    <fiche-zep-procedes-dfv-position-aiguilles [zep]="zep" [listParticularite]="listParticularite" ></fiche-zep-procedes-dfv-position-aiguilles>
    <span *ngIf="(getAiguillesPositionOblige()?.length != 0) || (getAiguillesADisposer()?.length != 0)"><hr/></span>
    <div class="row">
      <fiche-zep-procedes-dfv-mesure-protection [ongletForm]="true" [zep]="zep" [listConditionsParticuliereDeVerif]="listConditionsParticuliereDeVerif" [listParticularite]="listParticularite" [listMesureProtection]="listMesureProtection"></fiche-zep-procedes-dfv-mesure-protection>
    </div>
    <div class="row" *ngIf="(listConditionsParticuliereDeVerif.length != 0) || (getDispositionsParticuliereExploitation()?.length != 0)">
      <h4 class="label-title-form">
        Conditions particulières de vérification de libération de la ZEP :
      </h4>
      <div class="col-md-12" *ngFor="let poste of listConditionsParticuliereDeVerif">
        <span class="label-form"> {{poste.NomPoste}} :</span>
        <span *ngFor="let valeur of getConditionParticuliereDeVerification(poste.NomPoste).ListValeur">
          <label class="item-label font-size-13 text-wrap"><i class="fa fa-circle-thin font-size-7"></i>&nbsp;{{valeur}}</label><br>
        </span>
      </div>
    </div>
    <div class="row" *ngIf="getDispositionsParticuliereExploitation()?.length != 0">
      <div class="col-md-12">
        <span class="label-form">Dispositions particulières : </span>
      </div>
      <div class="col-md-12">
        <span *ngFor="let item of getDispositionsParticuliereExploitation()">
          <label class="item-label text-wrap"><i class="fa fa-circle-thin font-size-7"></i>&nbsp;{{item}}
          </label><br>
        </span>
      </div>
    </div>
    <span *ngIf="(getOutilDeBouclage()?.length != 0) || (getDispositionsParticuliereEquipement()?.length != 0) || (getAutresMesureEventuelles()?.length != 0)"><hr></span>
    <div class="row" *ngIf="(getOutilDeBouclage()?.length != 0) || (getDispositionsParticuliereEquipement()?.length != 0) || (getAutresMesureEventuelles()?.length != 0)">
      <span class="label-title-form">
        Mesures à prendre par l'equipement
      </span>
      <div class="col-md-12" *ngIf="getOutilDeBouclage()?.length != 0">
        <span class="label-form">Outil de bouclage : </span>
      </div>
      <div class="col-md-12">
        <span *ngFor="let item of getOutilDeBouclage()">
          <label class="item-label text-wrap"><i class="fa fa-circle-thin font-size-7"></i>&nbsp;{{item}}
            </label><br>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" *ngIf="getDispositionsParticuliereEquipement()?.length != 0">
        <span class="label-form">Dispositions particulières : </span>
      </div>
      <div class="col-md-12">
        <span *ngFor="let item of getDispositionsParticuliereEquipement()">
          <label class="item-label text-wrap"><i class="fa fa-circle-thin font-size-7"></i>&nbsp;{{item}}
          </label><br>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" *ngIf="getAutresMesureEventuelles()?.length != 0">
        <span class="label-form">Autres mesures éventuelles : </span>
      </div>
      <div class="col-md-12">
        <span *ngFor="let item of getAutresMesureEventuelles()">
          <label class="item-label text-wrap"><i class="fa fa-circle-thin font-size-7"></i>&nbsp;{{item}}
          </label><br>
        </span>
      </div>
    </div>
  </div>
</div>
