<accordion-group heading="Zep occupée par TTX à l'accord de la DFV" [isOpen]="true">
  <button class='btn btn-success btn-xs mb-sm' (click)="showCreateOccupationAccordModal()">
    <i class='fa fa-plus'></i>&nbsp;Ajouter
  </button>
  <br>
  <table class="table table-rounded text-center">
    <tr>
      <th class="text-center">Action</th>
      <th class="text-center">Numéro marche</th>
      <th class="text-center">Nature</th>
    </tr>
    <tr *ngFor="let occu of getOccupationAccordDFV()">
      <td>
        <div>
          <button container="body" popover="Modifier" triggers="mouseenter:mouseleave" class='btn btn-primary btn-xs' (click)="showUpdateOccupationModal(occu)">
            <i class='fa fa-edit'></i>
          </button>
          <button container="body" popover="Supprimer" triggers="mouseenter:mouseleave" class='btn btn-danger btn-xs' (click)="removeOccupation(occu)">
            <i class='fa fa-close'></i>
          </button>
        </div>
      </td>
      <td>{{occu.TTXNumero}}</td>
      <td>{{occu.TTXNature}}</td>
    </tr>
  </table>
</accordion-group>
<accordion-group heading="Zep occupée par TTX à l'accord de la DFV" [isOpen]="true">
  <button class='btn btn-success btn-xs mb-sm' (click)="showCreateOccupationRestitutionModal()">
    <i class='fa fa-plus'></i>&nbsp;Ajouter
  </button>
  <table class="table table-rounded text-center">
    <tr>
      <th class="text-center">Action</th>
      <th class="text-center">Numéro marche</th>
      <th class="text-center">Nature</th>
      <th class="text-center">Position</th>
    </tr>
    <tr *ngFor="let occu of getOccupationRestitutionZep()">
      <td>
        <div>
          <button [tooltip]="'Modifier'" class='btn btn-primary btn-xs' (click)="showUpdateOccupationModal(occu)">
            <i class='fa fa-edit'></i>
          </button>
          <button [tooltip]="'Supprimer'" class='btn btn-danger btn-xs' (click)="removeOccupation(occu)">
            <i class='fa fa-close'></i>
          </button>
        </div>
      </td>
      <td>{{occu.TTXNumero}}</td>
      <td>{{occu.TTXNature}}</td>
      <td>{{occu.TTXPosition}}</td>
    </tr>
  </table>
</accordion-group>
