<div class="modal-header">
  <button type="button" (click)="closePopup(dfv)" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <div class="modal-title col-md-12" id="myModalLabel">
      <div class="col-md-4">
          DFV {{dfv && dfv.Numero ? dfv.Numero :""}} <br> {{dfv && dfv.StatusZep ? (dfv.StatusZep.Statut == "En création" && dfv.IsPrevisonelle ? "Prévisionelle" : dfv.StatusZep.Statut) : ""}}
      </div>
      <div class="col-md-4"> RPTX : {{dfv && dfv.RPTX ? dfv.RPTX : ""}} <br> N° tel : {{dfv && dfv.NumeroTelephone ? dfv.NumeroTelephone : ""}}</div>
      <div class="col-md-4">
          <span class="pull-right">
              <span>AC {{dfv && dfv.ResponsableDFV ? dfv.ResponsableDFV.Nom : "" }} </span>
          </span>
      </div>

      <!-- <button type='button' class="btn btn-info pull-right" (click)="openZep()">{{dfv && dfv.Zep ? dfv.Zep.Numero : "" }}</button> -->

  </div>
</div>
<ngx-loading [show]="loading" ></ngx-loading>
<div class="modal-body">
    <div class="row">
        <div class="col-md-3">
            <div style="cursor: pointer;">
                <div class="list-group-item" (click)="settingActive=1" [ngClass]="{'active': (settingActive == 1)}">Bloc Infos</div>
                <div style="margin-left:15px" class="list-group-item" *ngIf="(!dfv || !dfv.SansTTX)" (click)="isBlocTtxDisabled()" [ngClass]="{'active': (settingActive == 2)}">Bloc TTX</div>
                <div style="margin-left:15px" class="list-group-item" (click)="settingActive=3" [ngClass]="{'active': (settingActive == 3)}">Bloc Application</div>
            </div>
        </div>
        <div class="row col-md-9">
            <div *ngIf="settingActive == 1">
                <!-- Bloc info -->
                <app-dfv-prev-bloc-info
                [dfv]="dfv"
                [zepTypeList] = "zepTypeList"
                [zepList] = "zepList"
                (dfvChange)="onDfvChange($event)">
                </app-dfv-prev-bloc-info>
            </div>
            <div *ngIf="settingActive == 2">
                <!-- Bloc info TTX -->
                <app-dfv-prev-bloc-ttx
                    [dfv]="dfv"
                    [listTypeOccupation]="listTypeOccupation"
                    [listTypeManoeuvre]="listTypeManoeuvre"
                    [listPointRemarquable]="listPointRemarquable"
                    (dfvChange)="onDfvChange($event)">
                </app-dfv-prev-bloc-ttx>
            </div>
            <div *ngIf="settingActive == 3">
                <!-- Bloc info application -->
                <app-dfv-prev-bloc-application [dfv]="dfv" (dfvChange)="onDfvChange($event)">
                </app-dfv-prev-bloc-application>
            </div>
        </div>
    </div>
</div>
