<div class="content-heading">
    LISTE DES DFV
</div>
<ngx-loading [show]="loading" ></ngx-loading>

<div *ngIf="dfvList != null">
    <div class="row">
      <div class="col-md-6">
        <app-tab-dfv (showDfv)="showDFV($event)" (addDfv)="addDfv($event)" [dfvList]="dfvListEnCours" [isRestitue]="false"></app-tab-dfv>
      </div>
      <div class="col-md-6">
          <app-tab-dfv (showDfv)="showDFV($event)" [dfvList]="dfvListRestitue" [isRestitue]="true"></app-tab-dfv>
        </div>
    </div>
</div>

