<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6 offset-6 text-center">
        <div class="form-group input-group-sm">
          <label class="label-form">TTX Autorisés :</label>
          <i [ngClass]="zep.AutorisationTTX === true ? 'fa fa-check text-green' : 'fa fa-times text-red'"></i>
          <span></span>
        </div>
      </div>
      <div class="col-md-6 offset-6 text-center">
        <div class="form-group input-group-sm">
          <label class="label-form">LAM Autorisés :</label>
          <i [ngClass]="zep.AutorisationLAM === true ? 'fa fa-check text-green' : 'fa fa-times text-danger' "></i>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="getPointRemarquableEngagement().ListPosteVm?.length != 0">
      <h4 class="label-title-form">
        Point d'engagements :
      </h4>
      <div class="col-md-12">
        <div *ngFor="let item of getPointRemarquableEngagement().ListPosteVm">
          <span class="label-form"> {{item.NomPoste}} : </span>
          <span *ngFor="let value of item.ListValue">
            <label class="badge badge-violet text-wrap"> {{value}}</label>
          </span>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="getPointRemarquableDegagement().ListPosteVm?.length != 0">
      <h4 class="label-title-form">
        Point de dégagement :
      </h4>
      <div class="col-md-12">
        <div *ngFor="let item of getPointRemarquableDegagement().ListPosteVm">
          <span class="label-form"> {{item.NomPoste}} : </span>
          <span *ngFor="let value of item.ListValue">
            <label class="badge badge-violet text-wrap"> {{value}}</label>
          </span>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="getPointRemarquableSignauxInter().ListPosteVm?.length != 0">
      <h4 class="label-title-form">
        Signaux intérmédiaires :
      </h4>
      <div class="col-md-12">
        <div *ngFor="let item of getPointRemarquableSignauxInter().ListPosteVm">
          <span class="label-form"> {{item.NomPoste}} : </span>
          <span *ngFor="let value of item.ListValue">
            <label class="badge badge-violet text-wrap"> {{value}}</label>
          </span>
        </div>
      </div>
    </div>
    <span *ngIf="(getDFVRestitue()?.length != 0) || (getTTXStationne()?.length != 0) || (getAutresDispositionsParticulieresTTX()?.length != 0)"><hr/></span>
    <div class="row" *ngIf="(getDFVRestitue()?.length != 0) || (getTTXStationne()?.length != 0) || (getAutresDispositionsParticulieresTTX()?.length != 0)">
      <h4 class="label-title-form">
        Dispositions particulières :
      </h4>
      <div class="col-md-12" *ngIf="getDFVRestitue()?.length != 0">
        <span class="label-form">DFV restituée occupée : </span>
        <span *ngFor="let item of getDFVRestitue()">
          <label class="badge badge-violet font-size-13"> {{item}}</label>
        </span>
      </div>
      <div class="col-md-12" *ngIf="getTTXStationne()?.length != 0">
        <span class="label-form">TTx Stationné : </span>
        <span *ngFor="let item of getTTXStationne()">
          <label class="badge badge-violet"> {{item}}</label>
        </span>
      </div>
      <div class="col-md-12"  *ngIf="getAutresDispositionsParticulieresTTX()?.length != 0">
        <span class="label-form">Autres : </span>
        <span *ngFor="let item of getAutresDispositionsParticulieresTTX()">
          <label class="badge badge-violet"> {{item}}</label>
        </span>
      </div>
    </div>
  </div>
</div>
