<div class="modal-header header-style">
    <button type="button" class="close close-icon" (click)="closePopup()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <div class="col-md-12" id="myModalLabel">
        <div class="col-md-4">
            <h4 class="modal-title">DFV : <span class="modal-title-bold"> {{dfv && dfv.Numero ? dfv.Numero :""}}</span></h4>
            <label  [ngClass]="getIconByStatut(dfv.StatusZep?.Statut)" class="badge badge-success">{{dfv && dfv.StatusZep ? dfv.StatusZep.Statut :""}}</label>
        </div>
        <div class="col-md-4">
            <h4 class="modal-title">RPTX : <span class="modal-title-bold">{{dfv && dfv.RPTX ? dfv.RPTX : ""}} </span></h4>
            <h4 class="modal-title">N° tel : <span class="modal-title-bold">{{dfv && dfv.NumeroTelephone ? dfv.NumeroTelephone : ""}}</span></h4></div>
        <div class="col-md-4">
            <span class="pull-right">
                <h4 class="modal-title">AC {{dfv && dfv.ResponsableDFV ? dfv.ResponsableDFV.Nom : "" }} </h4>
            </span>
        </div>

        <button type='button' class="btn btn-default pull-right" (click)="openZep()"><i class="fa fa-tag"></i>&nbsp; {{dfv && dfv.Zep ? dfv.Zep.Numero : "" }}</button>

    </div>
</div>
<ngx-loading [show]="loading" ></ngx-loading>
<div class="modal-body">
    <div class="row">
        <div class="col-md-3">
            <div style="cursor: pointer;">
                <div [class.isDisabled]="!activateTabs" [class.disabled]="!activateTabs" *ngIf="isPosteCreateur" class="list-group-item text-uppercase" (click)="settingActive=1" [ngClass]="{'active': (settingActive == 1)}"><i class="fa fa-info-circle"></i>&nbsp;&nbsp;Bloc Demande</div>
                <div [class.isDisabled]="!activateTabs" [class.disabled]="!activateTabs" *ngIf="(!dfv || !dfv.SansTTX) && isPosteCreateur" style="margin-left:15px" class="list-group-item text-uppercase" (click)="isBlocTtxDisabled()" [ngClass]="{'active': (settingActive == 2)}"><i class="fa fa-train"></i>&nbsp;&nbsp;Bloc TTX</div>
                <div [class.isDisabled]="!activateTabs" [class.disabled]="!activateTabs" *ngIf="isPosteCreateur" style="margin-left:15px" class="list-group-item text-uppercase" (click)="settingActive=3" [ngClass]="{'active': (settingActive == 3)}"><i class="fa fa-calendar"></i>&nbsp;&nbsp;Bloc Application</div>
                <div [class.isDisabled]="isAccordDisabled || !activateTabs" [class.disabled]="isAccordDisabled || !activateTabs" class="list-group-item text-uppercase" (click)="isAccordDisabled ? $event.stopPropagation() : settingActive=4;" [ngClass]="{'active': (settingActive == 4)}"><i class="fa fa-shield"></i>&nbsp;&nbsp;Mesures de protection</div>
                <!-- <div [class.isDisabled]="isAccordDisabled || !activateTabs" [class.disabled]="isAccordDisabled || !activateTabs" *ngIf="isPosteCreateur" class="list-group-item text-uppercase" (click)="isAccordDisabled ? $event.stopPropagation() : settingActive=5" [ngClass]="{'active': (settingActive == 5)}">Protection / Vérification</div> -->
                <div [class.isDisabled]="isAccordDisabled || !activateTabs" [class.disabled]="isAccordDisabled || !activateTabs" class="list-group-item text-uppercase" (click)="isAccordDisabled ? $event.stopPropagation() : settingActive=6" [ngClass]="{'active': (settingActive == 6)}"><i class="fa fa-bell"></i>&nbsp;&nbsp;Notification DFV</div>
                <div [class.isDisabled]="isAccordDisabled || !activateTabs" [class.disabled]="isAccordDisabled || !activateTabs" *ngIf="isPosteCreateur" class="list-group-item text-uppercase" (click)="isAccordDisabled ? $event.stopPropagation() : settingActive=7" [ngClass]="{'active': (settingActive == 7)}"><i class="fa fa-handshake-o"></i>&nbsp;&nbsp;Bloc Accord</div>
                <div [class.isDisabled]="isRestitutionDisabled || !activateTabs" [class.disabled]="isRestitutionDisabled || !activateTabs" class="list-group-item text-uppercase" (click)="isBlocEngagementDegagementDisabled($event)" [ngClass]="{'active': (settingActive == 8)}"><i class="fa fa-exchange"></i>&nbsp;&nbsp;Bloc Engagement / Degagement</div>
                <div [class.isDisabled]="isRestitutionDisabled || !activateTabs" [class.disabled]="isRestitutionDisabled || !activateTabs" *ngIf="isPosteCreateur" class="list-group-item text-uppercase" (click)="isRestitutionDisabled ? $event.stopPropagation() : settingActive=9" [ngClass]="{'active': (settingActive == 9)}"><i class="fa fa-history"></i>&nbsp;&nbsp;Bloc Restitution</div>
                <div [class.isDisabled]="isLeveeMesureDisabled || !activateTabs" [class.disabled]="isLeveeMesureDisabled || !activateTabs" class="list-group-item text-uppercase" (click)="isLeveeMesureDisabled ? $event.stopPropagation() : settingActive=10" [ngClass]="{'active': (settingActive == 10)}"><i class="fa fa-unlock"></i>&nbsp;&nbsp;Levée des mesures</div>
                <!-- <div [class.isDisabled]="!activateTabs" [class.disabled]="!activateTabs" class="list-group-item text-uppercase" (click)="settingActive=11" [ngClass]="{'active': (settingActive == 11)}">Bloc Autres dépêches</div> -->
            </div>
        </div>
        <div class="row col-md-9 fiche-dfv">
            <div *ngIf="settingActive == 1">
                <!-- Bloc info -->
                <app-dfv-bloc-info
                [isPosteCreateur]="isPosteCreateur"
                [(dfv)]="dfv"
                [zepTypeList] =  "zepTypeList"
                [zepList] = "zepList"
                >
                </app-dfv-bloc-info>
            </div>
            <div *ngIf="settingActive == 2">
                <!-- Bloc info TTX -->
                <app-dfv-bloc-ttx
                    [isPosteCreateur]="isPosteCreateur"
                    [dfv]="dfv"
                    [listTypeOccupation]="listTypeOccupation"
                    [listTypeManoeuvre]="listTypeManoeuvre"
                    [listPointRemarquable]="listPointRemarquable"
                    [isNotification]="false"
                    (autreDepecheAdded)="refreshListAutreDepeche($event)">
                </app-dfv-bloc-ttx>
            </div>
            <div *ngIf="settingActive == 3">
                <!-- Bloc info application -->
                <app-dfv-bloc-application (dfvChange)="onDfvChange($event)" [isPosteCreateur]="isPosteCreateur" [(dfv)]="dfv">
                </app-dfv-bloc-application>
            </div>
            <div *ngIf="settingActive == 4">
                <!-- Bloc mesures de protection -->
                <app-dfv-bloc-mesures [listpostes]="listPostes" (dfvChange)="onDfvChange($event)" [isPosteCreateur]="isPosteCreateur" [(dfv)]="dfv" [listDepecheType]="listDepecheType">
                </app-dfv-bloc-mesures>
            </div>
             <div *ngIf="settingActive == 5">
                <!-- Bloc protection et vérification -->
                <!-- <app-dfv-bloc-verification [dfv]="dfv" [postes]="listPostes">
                </app-dfv-bloc-verification> -->
            </div>
            <div *ngIf="settingActive == 6">
                <!-- Bloc notification DFV -->
                <app-dfv-bloc-notification [isPosteCreateur]="isPosteCreateur" [dfv]="dfv" (dfvChange)="onDfvChange($event)" [listTypeOccupation]="listTypeOccupation" [listTypeManoeuvre]="listTypeManoeuvre" [listPointRemarquable]="listPointRemarquable" [listDepecheType]="listDepecheType">
                </app-dfv-bloc-notification>
            </div>
            <div *ngIf="settingActive == 7">
                <!-- Bloc Accord  -->
                <app-dfv-bloc-accord (dfvChange)="onDfvChange($event)"
                    [isPosteCreateur]="isPosteCreateur"
                    [dfv]="dfv"
                    [listTypeManoeuvre]="listTypeManoeuvre"
                    [listTypeOccupation]="listTypeOccupation"
                    [zepTypeList] =  "zepTypeList"
                    [zepList] = "zepList">
                </app-dfv-bloc-accord>
            </div>
            <div *ngIf="settingActive == 8">
                <!-- Bloc Accord Engagement / Dégagement -->
                <app-dfv-bloc-engagement-degagement [isPosteCreateur]="isPosteCreateur" [dfv]="dfv" [listTypeManoeuvre]="listTypeManoeuvre" [listPointRemarquable]="listPointRemarquable" [listManoeuvreDepeche]="listManoeuvreDepeche" (depecheAdded)="refreshListDepeche($event)">
                </app-dfv-bloc-engagement-degagement>
            </div>
            <div *ngIf="settingActive == 9">
                <!-- Bloc Restitution -->
                <app-dfv-bloc-restitution (dfvChange)="onDfvChange($event)" [isPosteCreateur]="isPosteCreateur" [dfv]="dfv" [listTypeOccupation]="listTypeOccupation" [listTypeManoeuvre]="listTypeManoeuvre" [listPointRemarquable]="listPointRemarquable">
                </app-dfv-bloc-restitution>
            </div>
            <div *ngIf="settingActive == 10">
                <!-- Bloc Levée de mesure -->
                <app-dfv-bloc-levee-mesure [isPosteCreateur]="isPosteCreateur" [listDepecheType]="listDepecheType" [dfv]="dfv" [listTypeOccupation]="listTypeOccupation" [listTypeManoeuvre]="listTypeManoeuvre" [listPointRemarquable]="listPointRemarquable">
                </app-dfv-bloc-levee-mesure>
            </div>
            <div *ngIf="settingActive == 11">
                <!-- <app-dfv-bloc-autre-depeche [listAutresDepeche]="listAutresDepeche" [dfv]="dfv" (autreDepecheAdded)="refreshListAutreDepeche($event)"></app-dfv-bloc-autre-depeche> -->
            </div>
        </div>
    </div>

    <!-- <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click) = "closePopup()">Fermer</button>

</div> -->
