<div class="panel panel-default">
  <div class=" panel-heading">
    <div class="row ">
      <div class="col-md-8 tab-title-xlarge" *ngIf="isApplicable">ZEP Applicables </div>
      <div class="col-md-8 tab-title-xlarge" *ngIf="isValide">ZEP Validées </div>
      <div class="col-md-8 tab-title-xlarge" *ngIf="isEnTravail">ZEP En Travail </div>
      <div class="col-md-4 mb-lg">
          <input [(ngModel)]="filter" class="form-control" placeholder="Rechercher ..." />
      </div>
    </div>
  </div>
  <table class="table table-striped table-bordered table-hover">

    <tbody>
        <tr *ngFor="let zep of zepsList |  filterZep: filter | paginate: { itemsPerPage: 10, currentPage: p }  ">
        <td class="text-center">
          <a class="btn btn-info btn-xs" (click)="showZep(zep)">
            <em class="fa fa-file-text-o"></em>
          </a>
        </td>
        <td>
          <div class="media">
            <div class="row">
              <div class="col-md-12">
                <h4 class="media-heading tab-small-title" data-toggle="tooltip" title="{{zep.Zep.Numero}}">{{zep.Zep.Numero}}</h4>
                <p>Demandeur : <label  class="badge badge-violet">{{zep.Zep.PosteDemandeDFV.Nom}}</label></p>
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class="media">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div style="font-weight: bold;text-decoration: underline;font-size:12px">Dates d'applicabilité</div>
                    <div style="font-size:12px"> {{zep.DateDebutApplicabilite}} - {{zep.DateFinApplicabilite}}</div>
                  </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="p = $event" previousLabel="Précédent" nextLabel="Suivant" style="text-align:center;"></pagination-controls>
</div>
