<form [formGroup]="form" (ngSubmit)="submit(dfvCopy)"  *ngIf="dfvCopy!=null">
    <div class="row">
        <div class="col-md-12">
            <formly-form [model]="dfvCopy" [fields]="fields" [form]="form" [options]="options">
            </formly-form>
        </div>
    </div>
    <div class="row m-sm">
        <div class="col-md-12">
            <button *ngIf="!isDFVAccorde()"  type="submit" class="btn btn-lg btn-success btn-block" [disabled]="!form.valid"><i class="fa fa-check"></i>&nbsp;Accorder</button>
        </div>
    </div>

</form>
<!--  -->
