<accordion>
    <accordion-group heading="Avis de restitution de la DFV" [isOpen]="true">
        <app-dfv-bloc-ttx [isPosteCreateur]="isPosteCreateur" [dfv]="dfv" (dfvChange)="onDfvChange($event)" [listTypeOccupation]="listTypeOccupation" [listTypeManoeuvre]="listTypeManoeuvre" [listPointRemarquable]="listPointRemarquable" [listDepecheType]="listDepecheType"
            [isRestitution]="true">
        </app-dfv-bloc-ttx>
    </accordion-group>
    <accordion-group *ngIf="isPosteCreateur" heading="Levée des mesures par l’AC" [isOpen]="true">

        <form [formGroup]="formLeveeMesure" (ngSubmit)="submitLeveeMesure()">
            <formly-form class="col-md-6" [model]="dfv" [fields]="fieldsLeveeMesure" [form]="formLeveeMesure" [options]="optionsFormLeveeMesure">
            </formly-form>
            <button style="margin-top: 4em;" *ngIf="isLeveeMesuresParAC === false && dfv.LeveeMesuresParAC" validation-submit="formLeveeMesure" type="submit" class="col-md-6 btn btn-success pull-right"><i class="fa fa-save" ></i>&nbsp; Confirmer la levée des mesures</button>
        </form>

    </accordion-group>
    <accordion-group heading="Levée des mesures par un autre agent" [isOpen]="true">
        <div class="alert alert-info">

            <p class="text-center">Demande par dépêche : « Levez les mesures prises pour la ZEP N° {{dfv.Zep.Numero}} »</p>
        </div>
        <table class="table table-rounded text-center">
            <tr>
                <th class="text-center">AC</th>
                <th class="text-center">Poste</th>
                <th class="text-center">N° donné</th>
                <th class="text-center">N° reçu</th>
                <th class="text-center">Date - Heure</th>
                <th>Dépêche</th>
            </tr>

            <tr *ngFor="let mesure of filterMesureDeProtection()">
                <td>{{dfv.ResponsableDFV.Nom}}</td>
                <td>
                    {{mesure.PosteDemande.Nom}}
                </td>
                <td>
                    {{ getPropDepeche(mesure,"Donne") }}
                </td>
                <td>
                    {{ getPropDepeche(mesure,"Recu") }}
                </td>
                <td>
                    <div *ngIf="!PasDeDepeche(mesure)">
                        {{ getPropDepeche(mesure,"Date") | amLocal | amDateFormat: 'DD/MM/YYYY HH:mm' }}
                    </div>
                </td>
                <td>
                    <button tooltip="Saisir la dépêche de levèe des mesures" *ngIf="PasDeDepeche(mesure)" (click)="addDepeche(mesure)" class="btn btn-info btn-xs"><i class="fa fa-phone"></i></button>
                </td>
            </tr>
        </table>
    </accordion-group>
</accordion>