<div class="row">
    <div class="col-md-12">
        <accordion>
            <accordion-group heading="Autre dépêche DFV" [isOpen]="true">
                <div class="row">
                    <div class="col-md-12">
                        <button class='btn btn-success btn-xs mb-sm' (click)="showAddAutreDepecheDFVModal()">
                  Ajouter <i class='fa fa-plus'></i>
                </button>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12"></div>
                    <table class="table table-rounded text-center">
                        <tr>
                            <th class="text-center">Autres dépêche des DFV</th>
                            <th class="text-center">Date</th>
                        </tr>
                        <tr *ngFor="let autreDepeche of getAllAutreDepecheDFV()">
                            <td>Modification de :
                                <span class="text-bold">{{autreDepeche.AutreDepecheType.Nom}}</span> sur la DFV
                                <span class="text-bold">{{autreDepeche.DFV?.Numero}}</span> de {{autreDepeche.AncienneValeur}} à {{autreDepeche.NouvelleValeur}}
                            </td>
                            <td>
                                {{autreDepeche.Depeche?.DateDepeche | date:'dd/MM/yyyy HH:mm'}}
                            </td>
                        </tr>
                    </table>
                </div>
            </accordion-group>
            <accordion-group heading="Autre dépêche Manoeuvre" [isOpen]="true">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-rounded text-center">
                            <tr>
                                <th class="text-center">Autres dépêche des engagements / dégagements de la DFV</th>
                                <th class="text-center">Date</th>
                            </tr>
                            <tr *ngFor="let autreDepeche of getAllAutreDepecheManoeuvre()">
                                <td>Modification de :
                                    <span class="text-bold">{{autreDepeche.AutreDepecheType.Nom}}</span> sur le TTX
                                    <span class="text-bold">{{autreDepeche.Manoeuvre?.TTXNumero}}</span> de {{autreDepeche.AncienneValeur}} à {{autreDepeche.NouvelleValeur}}
                                </td>
                                <td>
                                    {{autreDepeche.Depeche?.DateDepeche | date:'dd/MM/yyyy HH:mm'}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </accordion-group>
        </accordion>
    </div>
</div>
