<span class="label-title-form" *ngIf="listMesureProtection?.length != 0">
  Mesures de protection :
</span>
<div class="col-md-12" *ngIf="ongletForm; else tableForm">
  <tabset class="bg-white p0">
    <tab *ngFor="let poste of listMesureProtection">
      <ng-template tabHeading>
        <span class="label-form">{{poste.NomPoste}}</span>
      </ng-template>
      <div class="row">
        <div class="label-bloc">
        <div class="col-md-12" *ngIf="getItineraireADetruire(poste.NomPoste).ListValeur != 0">
          <span class="label-small-form">Itinéraires à détruire : </span>
          <span *ngFor="let valeur of getItineraireADetruire(poste.NomPoste).ListValeur">
              <label class="badge badge-violet"> {{valeur}}</label>
            </span>
        </div>
        <div class="col-md-12" *ngIf="getItineraireADetruireEtMunir(poste.NomPoste).ListValeur != 0">
          <span class="label-small-form">Itinéraires à détruire et à munir de DA : </span>
          <span *ngFor="let valeur of getItineraireADetruireEtMunir(poste.NomPoste).ListValeur">
              <label class="badge badge-violet"> {{valeur}}</label>
            </span>
        </div>
        <div class="col-md-12" *ngIf="getOrganeDeCommande(poste.NomPoste).ListValeur != 0">
          <span class="label-small-form">Organe de commande à placer dans la position indiquée et munis d'un DA : </span> 
          <span *ngFor="let valeur of getOrganeDeCommande(poste.NomPoste).ListValeur">
              <label class="badge badge-violet"> {{valeur}}</label>
            </span>
        </div>
        <div class="col-md-12" *ngIf="getDialogueDeProtection(poste.NomPoste).ListValeur != 0">
          <span class="label-small-form"> Dialogue de protection : </span>
          <span *ngFor="let valeur of getDialogueDeProtection(poste.NomPoste).ListValeur">
              <label class="badge badge-violet"> {{valeur}}</label>
            </span>
        </div>
        <div class="col-md-12" *ngIf="getAutorisationADetruire(poste.NomPoste).ListValeur != 0">
          <span class="label-small-form"> Autorisation à détruire : </span>
          <span *ngFor="let valeur of getAutorisationADetruire(poste.NomPoste).ListValeur">
              <label class="badge badge-violet"> {{valeur}}</label>
            </span>
        </div>
        <div class="col-md-12" *ngIf="getAiguilleImmobilise(poste.NomPoste).ListValeur != 0">
          <span class="label-small-form"> Aiguille immobilisée dans la position indiquée : </span>
          <span *ngFor="let valeur of getAiguilleImmobilise(poste.NomPoste).ListValeur">
              <label class="badge badge-violet"> {{valeur}}</label>
            </span>
        </div>
        <div class="col-md-12" *ngIf="getJalonDarret(poste.NomPoste).ListValeur != 0">
          <span class="label-small-form"> Jalon d'arrêt à placer sur le terrain : </span>
          <span *ngFor="let valeur of getJalonDarret(poste.NomPoste).ListValeur">
              <label class="badge badge-violet"> {{valeur}}</label>
            </span>
        </div>
      </div>
      </div>
    </tab>
  </tabset>
</div>

<ng-template #tableForm>
  <div class="col-md-12" *ngFor="let poste of listMesureProtection">
    <div class="row">
      <div *ngIf="getItineraireADetruire(poste.NomPoste).ListValeur != 0">
        <span class="label-small-form">Itinéraires à détruire : </span>
        <span *ngFor="let valeur of getItineraireADetruire(poste.NomPoste).ListValeur">
            <label class="badge badge-violet"> {{valeur}}</label>
          </span>
      </div>
      <div *ngIf="getItineraireADetruireEtMunir(poste.NomPoste).ListValeur != 0">
        <span class="label-small-form">Itinéraires à détruire et à munir de DA : </span>
        <span *ngFor="let valeur of getItineraireADetruireEtMunir(poste.NomPoste).ListValeur">
            <label class="badge badge-violet"> {{valeur}}</label>
          </span>
      </div>
      <div *ngIf="getOrganeDeCommande(poste.NomPoste).ListValeur != 0">
        <span class="label-small-form">Organe de commande à placer dans la position indiquée et munis d'un DA : </span> 
        <span *ngFor="let valeur of getOrganeDeCommande(poste.NomPoste).ListValeur">
            <label class="badge badge-violet"> {{valeur}}</label>
          </span>
      </div>
      <div *ngIf="getDialogueDeProtection(poste.NomPoste).ListValeur != 0">
        <span class="label-small-form"> Dialogue de protection : </span>
        <span *ngFor="let valeur of getDialogueDeProtection(poste.NomPoste).ListValeur">
            <label class="badge badge-violet"> {{valeur}}</label>
          </span>
      </div>
      <div *ngIf="getAutorisationADetruire(poste.NomPoste).ListValeur != 0">
        <span class="label-small-form"> Autorisation à détruire : </span>
        <span *ngFor="let valeur of getAutorisationADetruire(poste.NomPoste).ListValeur">
            <label class="badge badge-violet"> {{valeur}}</label>
          </span>
      </div>
      <div  *ngIf="getAiguilleImmobilise(poste.NomPoste).ListValeur != 0">
        <span class="label-small-form"> Aiguille immobilisée dans la position indiquée : </span>
        <span *ngFor="let valeur of getAiguilleImmobilise(poste.NomPoste).ListValeur">
            <label class="badge badge-violet"> {{valeur}}</label>
          </span>
      </div>
      <div *ngIf="getJalonDarret(poste.NomPoste).ListValeur != 0">
        <span class="label-small-form"> Jalon d'arrêt à placer sur le terrain : </span>
        <span *ngFor="let valeur of getJalonDarret(poste.NomPoste).ListValeur">
            <label class="badge badge-violet"> {{valeur}}</label>
          </span>
      </div>
    </div>
  </div>
</ng-template>
