<div class="row" *ngIf="getAiguillesPositionOblige()?.length != 0">
    <div class="col-md-12">
      <span class="label-form">Aiguilles à position obligée :</span>
    </div>
    <div class="col-md-12">
      <span *ngFor="let item of getAiguillesPositionOblige()">
        <label class="badge badge-violet font-size-13"> {{item}}</label>
      </span>
    </div>
  </div>
  <div class="row" *ngIf="getAiguillesADisposer()?.length != 0">
    <div class="col-md-12">
      <span class="label-form">Aiguilles à disposer dans la position prévue avant accord (continuité) :</span>
    </div>
    <div class="col-md-12">
      <span *ngFor="let item of getAiguillesADisposer()">
        <label class="badge badge-violet"> {{item}}</label>
      </span>
    </div>
  </div>
