<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-5">
        <div class=" text-center label-form"> Période d'application :</div>
        <div class=" text-center">{{zep.DateDebutApplicabilite | date:'dd/MM/yyyy'}} au {{zep.DateFinApplicabilite | date:'dd/MM/yyyy'}}</div>
      </div>
      <div class="col-md-3">
        <div class="text-center label-form"> Type :</div>
        <div class="text-center">{{zep.ZepType?.Nom}}</div>
      </div>
      <div class="col-md-4">
        <div class="text-center label-form">Image :</div>
        <div class="text-center">
          <button class="btn btn-xs btn-primary">{{zep.FichierImage}}</button>
        </div>
      </div>
    </div>
    <hr/>
    <div *ngIf="zep.CompositionGroupeZepList?.length != 0">
      <span class="label-form">Composition (cas d'un groupement de zep) :</span>
    </div>
    <div class="row">
      <div class="col-md-12">
        <span *ngFor="let item of zep.CompositionGroupeZepList">
          <label class="badge badge-success"> {{item.ZepEnfant?.Numero}}</label>
        </span>
      </div>
    </div>
    <div *ngIf="zep.IncompatibiliteZepList?.length != 0">
      <span class="label-form">Incompatibilité avec d'autres ZEP :</span>
    </div>
    <div class="row">
      <div class="col-md-12">
        <span *ngFor="let item of zep.IncompatibiliteZepList; let isLast=last">
          <label class="badge badge-danger"> {{item.ZepIncompatible?.Numero}}</label>
        </span>
        </div>
    </div>
    <span *ngIf="(zep.CompositionGroupeZepList?.length != 0) || (zep.IncompatibiliteZepList?.length != 0)"><hr/></span>
    <div class="row">
      <div class="col-md-8" *ngIf="getParticularitePoste().length != 0">
        <div>
          <span class="label-form">Applicable dans les conditions (Poste fermé / Poste ouvert) :</span>
        </div>
        <div>
          <!--<span>{{getParticularitePoste().join(", ")}}</span>-->
          <span *ngFor="let item of getParticularitePoste()">
            <label class="badge badge-black font-size-13"> {{item}}</label>
          </span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-center label-form">DFV demandé à : </div>
        <div class="text-center">
          {{zep.PosteDemandeDFV?.Nom}}
        </div>
      </div>
    </div>
    <span *ngIf="(getConditionProtectionVerifPoste()?.length != 0) || (zep.AiguilleList?.length != 0)"><hr></span>
    <div class="row" >
      <div class="col-md-12" *ngIf="getConditionProtectionVerifPoste()?.length != 0">
        <span class="label-form">Conditions de protection et vérifications des postes :</span>
      </div>
      <div class="col-md-12">
        <span *ngFor="let item of getConditionProtectionVerifPoste()">
          <label class="badge badge-violet">{{item.Poste?.Nom}}
            <i [ngClass]="getMesureProtectionIcon(item.Valeur)" [popover]="popTemplateProtec" triggers="mouseenter:mouseleave"></i>
            <i [ngClass]="getMesureVerificationIcon(item.Valeur)" [popover]="popTemplateVerif" triggers="mouseenter:mouseleave"></i>
          </label>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" *ngIf="zep.AiguilleList?.length != 0">
        <span class="label-form">Liste des aiguilles de la ZEP :</span>
      </div>
      <div class="col-md-12">
        <span *ngFor="let item of zep.AiguilleList">
          <label class="badge badge-violet">{{item.Nom}}
          </label>
        </span>
      </div>
    </div>
  </div>
</div>
<ng-template #popTemplateProtec>
  <span style="color:#656565;">Protection</span>
</ng-template>
<ng-template #popTemplateVerif>
  <span style="color:#656565;">Vérification</span>
</ng-template>
