<accordion>
    <accordion-group *ngIf="isPosteCreateur" heading="Mesures de protection prises par L'AC" [isOpen]="true">
        <form *ngIf="(needMesureByAc() && (dfv.DateMesureProtectionPiseParAC == null ? (isAccordee ? false : true) : true));else pasDeMesureParAc" [formGroup]="formMesure" (ngSubmit)="submitMesure()">
            <div class="col-md-12">
            <div style="margin-bottom: 8px;">
                <fiche-zep-procedes-dfv-position-aiguilles [zep]="dfv.Zep" [listParticularite]="listParticularite"></fiche-zep-procedes-dfv-position-aiguilles>
            </div>
                <fiche-zep-procedes-dfv-mesure-protection [ongletForm]="false" [zep]="dfv.Zep" [listConditionsParticuliereDeVerif]="listConditionsParticuliereDeVerif" [listParticularite]="listParticularite" [listMesureProtection]="listMesureProtection"></fiche-zep-procedes-dfv-mesure-protection>
            </div>
            <formly-form class="col-md-6" [model]="dfv" [fields]="fieldsMesure" [form]="formMesure" [options]="optionsFormMesure">
            </formly-form>
            <button style="margin-top: 2em;" *ngIf="isMesuresParAC === false && dfv.MesureProtectionPiseParAC && !isAccordee" validation-submit="formLeveeMesure" type="submit" class="col-md-6 btn btn-success pull-right"><i class="fa fa-save" ></i>&nbsp; Confirmer les prises de protection</button>
        </form>
        <ng-template #pasDeMesureParAc>
            <h4 class="text-center">Aucune mesure de protection ne doit être prise par le poste {{dfv.ResponsableDFV.Nom}}</h4>
        </ng-template>
    </accordion-group>
    <accordion-group heading="Protections prises par un autre agent" [isOpen]="true">
        <!-- <div *ngIf="isPosteCreateur && !isAccordee" class="form-group">
            <button tooltip="Prendre une nouvelle mesure de protection" (click)="addMesure()" class="btn btn-success btn-xs"><i class="fa fa-plus"></i></button>
        </div> -->
        <table class="table table-rounded text-center">
            <tr>
                <th>Actions</th>
                <th class="text-center">AC</th>
                <th class="text-center">Poste</th>
                <th class="text-center">Date - Heure</th>
                <th class="text-center">Mesures</th>
                <th class="text-center">N° donné</th>
                <th class="text-center">N° reçu</th>
                <th class="text-center">Date - Heure</th>
                <th>Dépêche</th>
            </tr>

            <tr *ngFor="let mesure of filterMesures() ">
                <td>
                    <div *ngIf="!isAccordee && mesurePriseParAc()">
                        <button tooltip="Changer les valeurs de la mesure" *ngIf="isStatutPrioritaire(mesure)" [disabled]="!PasDeDepeche(mesure)" (click)="editMesure(mesure)" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i></button>
                        <!-- <button tooltip="Supprimer la mesures" [disabled]="!PasDeDepeche(mesure)" (click)="deleteMesure(mesure)" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i></button> -->
                    </div>

                </td>

                <td>{{dfv.ResponsableDFV.Nom}}</td>
                <td>
                    {{mesure.PosteDemande.Nom}}
                </td>
                <td>{{ mesure.DateDePrise | amDateFormat: 'DD/MM/YYYY HH:mm' }}</td>
                <td>
                    <div style="font-size:8px">
                        <input disabled="disabled" id="{{mesure.Id + prise}}" type="checkbox" [checked]="mesure.PriseDeMesure">
                        <label for="{{mesure.Id + prise}}">J'ai pris les mesures de protection</label>
                    </div>
                    <div style="font-size:8px">
                        <input disabled="disabled" id="{{mesure.Id + verif}}" type="checkbox" [checked]="mesure.VerificationLiberationVoieprevue" />
                        <label for="{{mesure.Id + verif}}">J'ai vérifié la libération de voie prévue</label>
                    </div>
                </td>
                <td>
                    {{ getPropDepeche(mesure,"Donne") }}
                </td>
                <td>
                    {{ getPropDepeche(mesure,"Recu") }}
                </td>
                <td>
                    <div *ngIf="!PasDeDepeche(mesure)">
                        {{ getPropDepeche(mesure,"Date") | amLocal | amDateFormat: 'DD/MM/YYYY HH:mm' }}
                    </div>
                </td>
                <td>
                    <button [disabled]="!mesure.PriseDeMesure" tooltip="Saisir la dépêche" *ngIf="PasDeDepeche(mesure) && !isAccordee" (click)="addDepeche(mesure)" class="btn btn-info btn-xs"><i class="fa fa-phone"></i></button>
                </td>
            </tr>
        </table>
    </accordion-group>
    <accordion-group  heading="Vérification" [isOpen]="mesureParAutreAgentPrise() && mesurePriseParAc()" [isDisabled]="!(mesureParAutreAgentPrise() && mesurePriseParAc())">
      <app-dfv-bloc-verification [dfv]="dfv" [postes]="listpostes">
      </app-dfv-bloc-verification>
    </accordion-group>
</accordion>
